body {
    background-image: url("./img/Fondo.jpg");
    font-family: 'Montserrat', sans-serif !important;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1, h2 {
    text-align: center;
    font-weight: 700;
    color: #2c3e50;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(206, 226, 255);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-section, .question-section, .result-section {
    text-align: center;
}

.name-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin: 10px 0;
    font-weight: 400;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="text"] {
    width: 80%; 
    max-width: 600px; 
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

textarea {
    width: 80%; 
    max-width: 600px; 
    height: 100px;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

button {
    padding: 10px 20px;
    background-color: #0062ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat', sans-serif !important;
}

button:hover {
    background-color: #001447;
}

img {
    width: 300px;
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.result-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}


#result-message {
    font-size: 18px;
    font-weight: 700;
    color: #2980b9;
}

#result-image {
    width: 300px !important; /* Se asegura el tamaño adecuado */
    max-width: 100% !important;
    border-radius: 5px !important;
    object-fit: cover !important;
    margin: 0 auto !important; /* Alineación central */
    padding: 0 !important;
}